{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier livre</h1>

    {% if book.image %}
        <div class="mb-3">
            <p>Image actuelle :</p>
            <img src="{{ asset('/images/' ~ book.image) }}" width="100" class="img-thumbnail">
        </div>
    {% endif %}

    {{ include('book/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('book/_delete_form.html.twig') }}

    <a class="btn btn-light mt-3" href="{{ path('app_book_index') }}">back to list</a>
    
</div>
{% endblock %}
